<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% include "bases/head.html" %}
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
    {% include "bases/menu.html" %}

            <section class='section-wrapper contact-page-w'>
                <div class='container'>
                    <h3 class='section-header'>Contactanos</h3>
                    
                    <div class='row'>
                        <div class='span4'>
                            <div class='blog-side-text-block widget-filled widget-yellow'>
                                <h3>Informacion de contacto</h3>
                                <ul class='unstyled big-iconed-tips'>
                                    <li>
                                        <i class='icon-map-marker'></i>
                                        Juan de Dios Bátiz s/n, U. Profesor Adolfo López Mateos.
                                    </li>
                                    <li>
                                        <i class='icon-phone-sign'></i>
                                        Telefono: (55) 3723218+
                                    </li>
                                    <li>
                                        <i class='icon-envelope-alt'></i>
                                        Email: contacto@zaresdelweb.com
                                    </li>
                                    <li>
                                        <i class='icon-globe'></i>
                                        Website: www.zaresdelweb.com
                                    </li>
                                    <li>
                                        <i class='icon-facebook-sign'></i>
                                        Facebook: facebook.com/zaresdelweb
                                    </li>
                                    <li>
                                        <i class='icon-twitter-sign'></i>
                                        Twitter: twitter.com/zaresdelweb
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                        <div class='span8'>
                        	{%if mensaje%}<h3>{{mensaje}}</h3>{%endif%}
                            <div class='white-card extra-padding'>
                                <form action="#Contactanos" method="post" class='form-transparent no-margin-bottom' id='form-add-comment'>{% csrf_token %} 
                                    <fieldset>
                                        <div class='row-fluid'>
                                            <div class='span12'>
                                                <legend>Completa el siguiente formulario de contacto</legend>
                                            </div>
                                        </div>
                                        <div class='row-fluid'>
                                            <div class='span12'>
                                                <div class='controls controls-row'>
                                                    {{contacto}}
                                                </div>
                                                <div class='form-actions'>
                                                    <button type="submit" class='btn btn-small'>Enviar mensaje</button>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='span12'>
                            <div class='map-w'>
                                <iframe src="https://mapsengine.google.com/map/embed?mid=zwl5Sh9sy8pA.kFX878C9rxMQ" width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    {% include "bases/footer.html" %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/file_input.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}js/main.js"></script>
    <script src="{{STATIC_URL}}js/lightbox.js"></script>
    <script src="{{STATIC_URL}}js/prettify.js"></script>
    <script src="{{STATIC_URL}}js/comments.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/formdata.js"></script>
    <script src="{{STATIC_URL}}js/formularios.js"></script>
    <script>
        jQuery(function($) {
            $('#loguear-usuario').on('submit', function(event){
                event.preventDefault();
                var data = new FormData();
                data.append("usuario", $('#id_usuario').val());
                data.append("password", $('#id_password').val());
                $.ajax({
                    url: '{%url "loguear_usuario"%}',
                    data: data,
                    type: "POST",
                    success: function(data){  
                        if (data.recargar==true){
                            location.reload();
                        }
                        if (data.mensaje != ''){
                            $('#mensaje-login').append(data.mensaje)
                        }
                    },
                    error: function(data){
                        alert('Algo salio mal!')                                         
                    },
                    processData: false,
                    contentType: false
                })
            });
        })
    </script>


</body>
</html>
